<h1>
  Hi, I'm Alex, <span class="font-semibold">Software Engineer</span> in process from
  Madrid, Spain.<br class="hidden md:flex" />
  Focused on full stack web development, minimal design lover.
</h1>
