---
import { Mail } from 'lucide-vue-next';

import Link from '@/components/common/Link.astro';
import Button from '@/components/ui/button/Button.vue';
---

<section id="hero" data-section="hero" class="flex flex-col gap-3">
  <h1>
    Hi, I'm Alex. <span class="font-semibold">Software Engineer</span> in process
    from Madrid, Spain.
    <br class="hidden md:flex" />
    Focused on full stack web development, minimal design lover.
  </h1>

  <Link
    href="mailto:hello@skuzow.com"
    title="contact-email"
    newTab={false}
    styled={false}
  >
    <Button class="gap-2 font-mono">
      <Mail size={18} /> Contact
    </Button>
  </Link>
</section>
