---
const navItems = [
  {
    label: 'about',
    url: '/#about'
  },
  {
    label: 'projects',
    url: '/#projects'
  },
  {
    label: 'contact',
    url: '/#contact'
  }
];
---

<header
  class="w-full py-2 overflow-x-hidden flex items-center justify-center sticky top-0 backdrop-filter backdrop-blur"
>
  <nav class="flex">
    {
      navItems.map((item) => (
        <div class="flex items-start justify-start font-header text-2xl md:text-5xl lg:text-7xl">
          <a
            aria-label={item.label}
            href={item.url}
            class="transition hover:text-secondary"
          >
            {item.label}
          </a>
          {item !== navItems[navItems.length - 1] && <span>·</span>}
        </div>
      ))
    }
  </nav>
</header>
