<section class="h-[100vh] w-full">
  <h1 class="absolute ml-[161px] mt-[163px] text-[373px]">
    Full<span class="text-secondary">Stack</span>
  </h1>
  <h1 class="absolute ml-[592px] mt-[501px] text-[373px]">
    <span class="text-secondary">Dev</span>eloper
  </h1>
</section>
