<section class="w-full h-[100vh]">
  <h1 class="absolute mt-[163px] ml-[161px] text-[373px]">
    Full<span class="text-secondary">Stack</span>
  </h1>
  <h1 class="absolute mt-[501px] ml-[592px] text-[373px]">
    <span class="text-secondary">Dev</span>eloper
  </h1>
</section>
