<section class="w-full h-full">
  <h1 class="text-center text-9xl bg-red-800">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-end text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
  <h1 class="text-9xl">test</h1>
</section>
