---
interface Marquee {
  items: string[];
}

const { items } = Astro.props;
---

<div class="flex flex-row whitespace-nowrap">
  {
    items.map((item: string) => (
      <div
        class="mx-1 text-2xl md:mx-[0.4rem] md:text-5xl 2xl:mx-2 2xl:text-7xl
        [&>span]:text-secondary"
      >
        · {item} · <span>{item}</span>
      </div>
    ))
  }
</div>
