---
interface Marquee {
  items: string[];
  class: string;
}

const { items, class: className } = Astro.props;
---

<div class={`${className} flex flex-row whitespace-nowrap`}>
  {
    items.map((item: string) => (
      <div class="mx-1 md:mx-[0.4rem] 2xl:mx-2 [&>span]:text-secondary">
        · {item} · <span>{item}</span>
      </div>
    ))
  }
</div>
