---
const items: string[] = ['scrolldown', 'scrolldown', 'scrolldown'];
---

<div
  class="flex w-full flex-row items-start justify-start align-bottom font-title text-xl"
>
  {
    items.map((item) => (
      <div class="flex flex-row items-start justify-start">
        {item}
        {item !== items[items.length - 1] && <span>·</span>}
      </div>
    ))
  }
</div>
