---
import Marquee from '@/components/common/spinners/Marquee.astro';

const items: string[] = [];

for (let i = 0; i < 5; i++) items.push('scrolldown');
---

<div
  class="text-welcome relative flex overflow-x-hidden pb-2 font-title md:pb-3"
>
  <Marquee items={items} class="animate-marquee1" />
  <Marquee items={items} class="absolute animate-marquee2" />
</div>
