---
import Marquee from '@/components/common/spinners/Marquee.astro';

const items: string[] = [];

for (let i = 0; i < 5; i++) {
  items.push('scrolldown');
}
---

<div class="relative flex overflow-x-hidden pb-2 font-title md:pb-3">
  <div class="animate-marquee1">
    <Marquee items={items} />
  </div>
  <div class="absolute animate-marquee2">
    <Marquee items={items} />
  </div>
</div>
