<h1
  class="h-[4rem] text-[4.5rem] leading-[4rem]
    sm:h-[6.5rem] sm:text-[8rem] sm:leading-[6.5rem]
    md:h-[8rem] md:text-[9.5rem] md:leading-[8rem]
    lg:h-[11rem] lg:text-[13rem] lg:leading-[11rem]
    xl:h-[14rem] xl:text-[16.5rem] xl:leading-[14rem]
    2xl:h-[19rem] 2xl:text-[23.25rem] 2xl:leading-[19rem]"
>
  <slot />
</h1>
