---
import WelcomeText from '@/components/welcome/WelcomeText.astro';
---

<section class="flex h-[100vh] flex-col items-center justify-center">
  <WelcomeText>Full<span class="text-secondary">Stack</span></WelcomeText>
  <WelcomeText><span class="text-secondary">Dev</span>eloper</WelcomeText>
</section>
