---
import WelcomeHeader from '@/components/welcome/WelcomeHeader.astro';
import WelcomeTitle from '@/components/welcome/WelcomeTitle.astro';
---

<WelcomeHeader />
<section class="flex h-[100vh] flex-col items-center justify-center">
  <WelcomeTitle>Full<span class="text-secondary">Stack</span></WelcomeTitle>
  <WelcomeTitle><span class="text-secondary">Dev</span>eloper</WelcomeTitle>
</section>
