---
import { navItems } from '@/constants/navItems';
---

<nav
  id="menu"
  class="text-welcome flex flex-col items-end justify-end font-header"
>
  {
    navItems.map(({ label, url }) => (
      <a aria-label={label} href={url} class="transition hover:text-secondary">
        {label}
      </a>
    ))
  }
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const navItems = document.querySelectorAll('#menu a');

    navItems.forEach((navItem) => {
      navItem.addEventListener('mouseover', () => {
        navItem.textContent = ('·' + navItem.textContent).split(' ').join('');
      });

      navItem.addEventListener('mouseout', () => {
        if (navItem.textContent)
          navItem.textContent = navItem.textContent.slice(1);
      });
    });
  });
</script>
