---
import Link from '@/components/common/Link.astro';

const currentYear: number = new Date().getFullYear();
---

<footer transition:persist class="py-4">
  <nav
    class="container flex w-full max-w-4xl flex-1 flex-col items-center justify-between font-mono md:flex-row"
  >
    <span>
      🎲
      <br class="hidden md:flex" />
      Making minimalist stuff.
    </span>

    <span class="flex flex-row items-end gap-3 md:flex-col md:gap-0">
      <Link href="mailto:hello@skuzow.com" title="contact-email" newTab={false}>
        Contact
      </Link>
      Alejandro Porras · {currentYear}
    </span>
  </nav>
</footer>
