---
import { Image } from 'astro:assets';
import { Linkedin, Github, Sun } from 'lucide-vue-next';

import Link from '@/components/common/Link.astro';
import { Button } from '@/components/ui/button';
---

<header transition:persist class="sticky top-0 z-10 py-4 backdrop-blur-md">
  <nav class="container flex max-w-4xl flex-1 justify-between">
    <Link
      href="/"
      title="skuzow.com"
      newTab={false}
      styled={false}
      class="flex items-center gap-2.5"
    >
      <Image
        src="/logo.avif"
        alt="logo"
        width="34"
        height="34"
        loading="eager"
        class="rounded-md"
      />
      <span class="font-mono hover:underline">skuzow.com</span>
    </Link>

    <div class="flex items-center gap-1">
      <Link
        href="https://www.linkedin.com/in/alejandro-porras-torrecilla"
        title="LinkedIn"
        styled={false}
      >
        <Button variant="ghost" size="icon">
          <Linkedin size={18} />
        </Button>
      </Link>

      <Link href="https://github.com/skuzow" title="Github" styled={false}>
        <Button variant="ghost" size="icon">
          <Github size={18} />
        </Button>
      </Link>

      <Button variant="ghost" size="icon">
        <Sun size={18} />
      </Button>
    </div>
  </nav>
</header>
