---
import { Linkedin, Github } from 'lucide-vue-next';

import Link from '@/components/common/Link.astro';
import Picture from '@/components/common/Picture.astro';
import { Button } from '@/components/ui/button';
import ThemeToggle from '@/components/layout/ThemeToggle.vue';

import logoImage from '@/images/logo.webp';
---

<header class="sticky top-0 z-10 bg-header py-4 backdrop-blur-md">
  <nav class="container flex max-w-4xl flex-1 justify-between">
    <Link
      id="main-header-link"
      href="/"
      title="skuzow.com"
      newTab={false}
      class="flex items-center gap-2.5"
    >
      <Picture
        src={logoImage}
        alt="Logo"
        width={34}
        height={34}
        loading="eager"
        class="rounded-md"
      />
      <span class="font-mono font-medium">skuzow.com</span>
    </Link>

    <div class="flex items-center gap-1">
      <Link
        href="https://www.linkedin.com/in/alejandro-porras-torrecilla"
        title="LinkedIn"
        underline={false}
      >
        <Button variant="ghost" size="icon">
          <Linkedin size={18} />
          <span class="sr-only">Linkedin</span>
        </Button>
      </Link>

      <Link href="https://github.com/skuzow" title="Github" underline={false}>
        <Button variant="ghost" size="icon">
          <Github size={18} />
          <span class="sr-only">Github</span>
        </Button>
      </Link>

      <ThemeToggle client:load />
    </div>
  </nav>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const mainHeaderLink = document.getElementById('main-header-link');

    mainHeaderLink?.addEventListener('click', (event) => {
      const isHomePage: boolean = window.location.pathname === '/';
      if (!isHomePage) return;

      event.preventDefault();
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  });
</script>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  };

  const modifyDarkClass = (isDark) =>
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  const isDark = getThemePreference() === 'dark';
  modifyDarkClass(isDark);

  if (typeof localStorage !== 'undefined') {
    const listener = ({ matches }) => {
      if (localStorage.getItem('theme')) return;
      modifyDarkClass(matches);
    };

    window
      .matchMedia('(prefers-color-scheme: dark)')
      .addEventListener('change', listener);
  }
</script>
