---
import { LinkedinIcon, GithubIcon } from 'lucide-vue-next';

import Link from '@/components/common/Link.astro';
import LogoIcon from '@/components/icons/LogoIcon.astro';
import { Button } from '@/components/ui/button';
import ThemeToggle from '@/components/layout/ThemeToggle.vue';
---

<header class="sticky top-0 z-10 bg-header py-4 backdrop-blur-md">
  <nav class="container flex max-w-4xl flex-1 justify-between">
    <Link
      id="home-link"
      href="/"
      title="Home"
      newTab={false}
      class="flex items-center gap-2.5"
    >
      <LogoIcon size={30} />
      <span class="font-mono font-medium">skuzow.com</span>
    </Link>

    <div class="flex items-center gap-1">
      <Link
        href="https://www.linkedin.com/in/alejandro-porras-torrecilla"
        title="LinkedIn"
        underline={false}
      >
        <Button variant="ghost" size="icon">
          <LinkedinIcon size={18} />
          <span class="sr-only">Linkedin</span>
        </Button>
      </Link>

      <Link href="https://github.com/skuzow" title="Github" underline={false}>
        <Button variant="ghost" size="icon">
          <GithubIcon size={18} />
          <span class="sr-only">Github</span>
        </Button>
      </Link>

      <ThemeToggle client:load />
    </div>
  </nav>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const homeLink = document.getElementById('home-link');

    homeLink?.addEventListener('click', (event) => {
      const isHomePage: boolean = window.location.pathname === '/';
      if (!isHomePage) return;

      event.preventDefault();
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  });
</script>
