---
import Section from '@/components/common/Section.astro';
---

<Section title="Contact">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus
    egestas nisl id porta. Proin fermentum orci vitae augue pharetra pulvinar.
    Ut dapibus est id tortor semper fringilla. Praesent nec quam in urna
    pharetra malesuada non ac ex. Duis in orci molestie, pretium eros at,
    blandit tellus. Nunc leo lectus, ultrices vitae orci quis, congue posuere
    mauris. Vivamus quis imperdiet lectus, in tincidunt enim. Phasellus tortor
    massa, sollicitudin ac tempor sed, mattis eu sem. Aenean tempus vestibulum
    molestie. Sed ac nibh nec purus egestas vestibulum sed ut purus. In
    eleifend, augue quis suscipit facilisis, odio odio faucibus lacus, hendrerit
    blandit neque ex sit amet tortor. Morbi quam leo, consequat in molestie nec,
    facilisis ut eros. Sed mollis metus consequat justo posuere, nec ultricies
    lacus elementum. Ut sit amet massa id dolor convallis tempor ut at leo.
    Vivamus pharetra iaculis dignissim. Donec varius neque tincidunt,
    ullamcorper tortor ut, egestas dolor. Aliquam euismod mauris eu augue
    laoreet tincidunt eu vitae purus. Donec convallis odio id sagittis posuere.
    Sed aliquam nisi dolor, ac maximus risus dapibus in. Nullam rhoncus mollis
    urna in luctus. Donec ac mattis tellus, vitae mollis enim. Donec sodales
    libero eu nisl accumsan facilisis. Etiam risus augue, porta ut viverra non,
    laoreet a tortor. Nam interdum cursus justo. Aenean nec hendrerit est. In
    hac habitasse platea dictumst. Proin dignissim pharetra lorem, eu tristique
    leo finibus in. Sed pretium leo id magna vehicula, in suscipit lorem semper.
    Suspendisse feugiat lacus eu ligula ornare accumsan in et urna. Suspendisse
    potenti. Aliquam mattis purus fringilla accumsan lacinia. Sed interdum
    turpis in nisi placerat iaculis. Mauris est ante, iaculis eget enim varius,
    molestie ultricies risus. Quisque lacinia posuere dui, ac malesuada nisl
    fringilla sit amet. Vivamus ac sem erat. Cras vestibulum eu dolor sed
    aliquet. Curabitur vel sapien ullamcorper, mattis erat in, aliquam enim.
    Integer a egestas tortor, eu condimentum odio. Nulla egestas sit amet lectus
    vel posuere. Cras et tellus sit amet augue finibus ultrices. Ut malesuada
    diam eget nisl molestie, luctus vestibulum odio volutpat. Aliquam auctor
    enim id est ornare, ac interdum diam mollis. Cras viverra orci sed nulla
    commodo, eget tincidunt nulla gravida. Etiam justo tellus, consequat vel
    purus iaculis, scelerisque ullamcorper tellus. Donec aliquam erat at mattis
    vulputate. Mauris volutpat varius nunc, ut facilisis erat egestas a.
    Suspendisse potenti. Pellentesque a ex a metus blandit rutrum at in velit.
    Quisque quis ligula varius, mattis lacus condimentum, molestie lorem. Nullam
    varius elit at faucibus pulvinar. Fusce rutrum molestie eros, id finibus
    ipsum venenatis hendrerit. Etiam vitae viverra ante.
  </p>
</Section>
