---
import { HomeIcon } from 'lucide-vue-next';

import Layout from '@/layouts/Layout.astro';

import Section from '@/components/common/Section.astro';
import LogoIcon from '@/components/icons/LogoIcon.astro';
import Link from '@/components/common/Link.astro';
import { Button } from '@/components/ui/button';
---

<Layout title="404: Not Found" description="404 Page Not Found.">
  <Section id="404" class="flex flex-col items-center gap-5">
    <LogoIcon size={240} class="rotate-45 md:size-80" />

    <div class="flex gap-5 font-mono">
      <h1 class="text-xl font-semibold">
        404
        <br />
        NOT
        <br />
        FOUND
        <span class="sr-only">Page not found</span>
      </h1>

      <div>
        <h2 class="mb-3.5 text-xl font-semibold">PAGE NOT FOUND</h2>

        <Link href="/" title="Home" newTab={false} underline={false}>
          <Button class="gap-2">
            <HomeIcon size={16} />
            Back Home
          </Button>
        </Link>
      </div>
    </div>
  </Section>
</Layout>
