---
import Layout from '@/layouts/Layout.astro';

import Button from '@/components/ui/button/Button.vue';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-xl">Hello Tailwind</h1>
    <Button>Shadcn Button!</Button>
  </main>
</Layout>
