---
import Layout from '@/layouts/Layout.astro';

import Welcome from '@/components/welcome/Welcome.astro';
---

<Layout
  title="Alejandro Porras"
  description="Alejandro Porras personal website. Full Stack Developer and Software Engineering Student"
>
  <Welcome slot="welcome" />

  <main class="px-4">
    <h1 class="flex items-center justify-center text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
    <h1 class="text-9xl text-white">test</h1>
  </main>
</Layout>
