---
import Layout from '@/layouts/Layout.astro';

import Welcome from '@/components/landing/Welcome.astro';
---

<Layout
  title="Alejandro Porras"
  description="Alejandro Porras personal website"
>
  <main class="px-4">
    <Welcome />
  </main>
</Layout>
