<!-- border
<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full opacity-50">
  <div class="h-full w-full border-[1.33px] border-white"></div>
</div> --><!-- vertical lines -->
<div
  class="absolute z-[-2] h-full w-full flex flex-row items-center justify-between opacity-50"
>
  <div class="h-full w-0"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-0"></div>
</div>
<!-- horizontal lines -->
<div
  class="absolute z-[-2] h-[100vh] w-full flex flex-col items-center justify-between opacity-50"
>
  <div class="h-0 w-full"></div>
  <div class="h-[1.33px] w-full bg-white"></div>
  <div class="h-0 w-full"></div>
  <div class="h-[1.33px] w-full bg-white"></div>
  <div class="h-0 w-full"></div>
</div>
