---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={cn(
    'flex cursor-pointer items-center justify-center rounded-md p-2 transition-colors hover:bg-muted hover:text-muted-foreground',
    className
  )}
>
  <slot />
</div>
