---
import LinkButton from '@/components/common/buttons/LinkButton.astro';

import LinkedInIcon from '@/components/common/icons/LinkedInIcon.astro';
import GitHubIcon from '@/components/common/icons/GitHubIcon.astro';
import EmailIcon from '@/components/common/icons/EmailIcon.astro';
---

<footer>
  <!-- <div class="flex flex-row items-center gap-2">
    <LinkButton message="GitHub" link="https://github.com/skuzow">
      <GitHubIcon size="18" color="white" />
    </LinkButton>
    <LinkButton
      message="LinkedIn"
      link="https://www.linkedin.com/in/alejandro-porras-torrecilla-a1b728235/"
    >
      <LinkedInIcon size="18" color="white" />
    </LinkButton>
    <LinkButton message="Email" link="mailto:alex@skuzow.net">
      <EmailIcon size="18" color="white" />
    </LinkButton>
  </div> -->
</footer>
