---
import VerticalLines from '@/components/common/background/VerticalLines.astro';

const navItems = [
  {
    label: 'about',
    url: '/#about'
  },
  {
    label: 'projects',
    url: '/#projects'
  },
  {
    label: 'contact',
    url: '/#contact'
  }
];
---

<header
  class="sticky top-0 overflow-x-hidden border-y-[1.33px] border-white
  border-opacity-50 bg-background py-3"
>
  <nav class="flex items-center justify-center">
    <VerticalLines />
    {
      navItems.map((item) => (
        <div
          class="flex items-start justify-start font-header text-2xl md:text-5xl
          lg:text-7xl"
        >
          <a
            aria-label={item.label}
            href={item.url}
            class="transition hover:text-secondary"
          >
            {item.label}
          </a>
          {item !== navItems[navItems.length - 1] && <span>·</span>}
        </div>
      ))
    }
  </nav>
</header>
