---
interface Section {
  title: string;
}

const { title } = Astro.props;

const titleLowerCase = title.toLowerCase();
---

<section
  id={titleLowerCase}
  data-section={titleLowerCase}
  class="border-b-[1.33px] border-white border-opacity-50 py-10 md:py-11"
>
  <div class="mx-auto md:max-w-4xl lg:max-w-6xl">
    <h2 class="text-welcome flex justify-center pb-2 md:pb-3">{title}</h2>
    <div class="text-info text-justify">
      <slot />
    </div>
  </div>
</section>
