---
interface Props {
  id: string;
  title?: string;
  class?: string;
}

const { id, title, class: className } = Astro.props;
---

<section id={id} data-section={id} class={className}>
  {
    title && (
      <h2 class="mb-5 text-xl font-semibold">
        ▼<span class="font-mono"> {title.toUpperCase()}</span>
      </h2>
    )
  }
  <slot />
</section>
