<div
  class="absolute z-[-2] flex h-full w-full flex-row items-center justify-between
  opacity-50"
>
  <div class="h-full w-0"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-[1.33px] bg-white"></div>
  <div class="h-full w-0"></div>
</div>
