---
import '@fontsource-variable/onest';
import { ViewTransitions } from 'astro:transitions';

import Background from '@/components/common/background/Background.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative bg-background text-white">
    <Background />

    <slot name="welcome" />
    <Header />
    <slot />
    <Footer />

    <script>
      function scrollToSection(id: string) {
        const section = document.querySelector(id);

        if (section instanceof HTMLElement) {
          window.scrollTo({
            top:
              section.offsetTop -
              document.getElementById('header')!.offsetHeight,
            behavior: 'smooth'
          });
        }
      }

      document.querySelectorAll('header nav a').forEach((link) => {
        link.addEventListener('click', (event) => {
          event.preventDefault();

          const targetId = link.getAttribute('href');
          if (targetId) scrollToSection(targetId);
        });
      });
    </script>

    <style is:global>
      @tailwind components;

      :root {
        color-scheme: dark;
      }

      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @layer components {
        /* welcome header, scrolldown, header, section title */
        .text-welcome {
          @apply text-2xl md:text-5xl 2xl:text-7xl;
        }
        /* section info */
        .text-info {
          @apply text-lg md:text-2xl 2xl:text-3xl;
        }
      }
    </style>
  </body>
</html>
