---
import '@fontsource-variable/onest';
import { ViewTransitions } from 'astro:transitions';

import Header from '@/components/landing/Header.astro';
import Footer from '@/components/landing/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative text-white">
    <!-- background -->
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gradient-to-br from-gray-800 via-gray-900 to-black"
    >
    </div>
    <div class="w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
      <Header />
      <slot />
      <Footer />
    </div>
    <style is:global>
      :root {
        color-scheme: dark;
      }

      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
