---
import Section from '@/components/common/Section.astro';

import { type SectionProps as Props } from '@/constants/sections';

const { section } = Astro.props;
---

<Section id={section.label} title="experience">
  <p>experience content</p>
</Section>
