---
import Section from '@/components/common/Section.astro';

import { type SectionItem } from '@/constants/sectionItems';

interface Props {
  sectionItem: SectionItem;
}

const { sectionItem } = Astro.props;
---

<Section id={sectionItem.label} title="projects">
  <p>projects content</p>
</Section>
