---
import Section from '@/components/common/Section.astro';
import Project from '@/components/pages/index/Project.astro';

import { PROJECTS, type Project as ProjectType } from '@/constants/projects';

import { type SectionProps as Props } from '@/constants/sections';

const { section } = Astro.props;
---

<Section id={section.label} title="projects">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {PROJECTS.map((project: ProjectType) => <Project project={project} />)}
  </div>
</Section>
