---
import Section from '@/components/common/Section.astro';
import Project from '@/components/pages/index/Project.astro';

import { PROJECTS, type Project as ProjectType } from '@/constants/projects';

import { type SectionProps as Props } from '@/constants/sections';

const { section } = Astro.props;

const importantProjects: ProjectType[] = PROJECTS.slice(0, 2);
---

<Section id={section.label} title="projects">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {
      importantProjects.map((project: ProjectType) => (
        <Project project={project} />
      ))
    }
  </div>
</Section>
